$primary: black;
$secondary: #fff;
$third: rgb(7, 108, 121);
$for: rgb(148, 123, 97);
$five: rgb(68, 7, 12);

$primaryFont: arial;

$media-xxl: 1440px;
$media-xl: 1200px;
$media-xm: 1024px;
$media-lg: 992px;
$media-lm: 850px;
$media-md: 767px;
$media-ms: 650px;
$media-sm: 576px;
$media-s: 320px;

